.heads{

    background: url(../../images/banner-speaker.jpg);
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.heads__img{
    align-self: center;
    margin-top: 100px;
    height: 150px;
    width: 150px;
}


